<section class="thirteen columns">
    <h1>Awards</h1>
    <article>
        <header>
            <h1>Hackathon 2nd Place</h1>
            <span><time>Jan 2025, Seoul</time></span>
            <p> 1st Blackout Hackathon, Gbike Category</p>
            <img src="{{ site.baseurl }}static/img/hackathon.png" alt="hackathon" width="380" height="250">
        </header>
    </article>
    <article>
        <header>
            <h1>POSTECH Programming Contest(PPC) 3rd Place</h1>
            <span><time>Apr 2024, POSTECH</time></span> </br>
            <img src="{{ site.baseurl }}static/img/ppc1.png" alt="hackathon" width="380" height="250">
            <img src="{{ site.baseurl }}static/img/ppc2.png" alt="hackathon" width="380" height="250">

        </header>
    </article>
</section>