<section class="thirteen columns">
    <h1>Experiences</h1>
    <article>
        <header>
            <h1>Software Engineer Intern</h1>
            <span><img src="static/img/timepercent.svg" alt="Timepercent Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> Timepercent</span>
            <span><address>Seoul, South Korea</address><time>Summer 2023</time></span>
        </header>
        <p>Learn Git, Gitlab, FastAPI basics, and agile development process. <br>
            Develop a web application for managing the company's internal data with FastAPI.</p>
    </article>
    <article>
        <header>
            <h1><a href="https://popo.poapper.club/">POstechian's POrtal(POPO)</a> Developer</h1>
            <span><img src="static/img/POSTECH.png" alt="POSTECH Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> POSTECH</span>
            <span><address>Pohang, South Korea</address><time>Winter 2023 ~</time></span>
        </header>
        <p>
            Leading and developing the backend for a carpooling service project(Paxi) that makes it easier to find carpool buddies — and keeps our wallets (including mine) happy.
        </p>
        <a href="https://github.com/PoApper/popo-nest-api"> <img src="static/img/github.svg" alt="Github Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> POPO Repository</a> <br/>
        <a href="https://github.com/PoApper/paxi-popo-nest-api"> <img src="static/img/github.svg" alt="Github Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> Paxi Repository</a> <br/>
    </article>
    <article>
        <header>
            <h1>Berkeley Concurrent Enrollment Student</h1>
            <span><img src="static/img/UCB.png" alt="UC Berkeley Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> UC Berkeley</span>
            <span><address>Berkeley, CA, USA</address><time>Fall 2024</time></span>
            <p>
                Took Computer Security(CS161)
            </p>
            <a href="https://github.com/khkim6040/CS161-Proj2"> <img src="static/img/github.svg" alt="Github Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> Project 2, A Secure File Sharing System(Main Project of CS161)</a> <br/>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://omnia.postech.ac.kr/"> Laboratory Intern </a></h1>
            <span><img src="static/img/omnia.svg" alt="OMNIA Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> OMNIA </span>
            <span><address>Pohang, South Korea</address><time>Jan 2025 - May 2025</time></span>
        </header>
        <p>Conducted research on Apache Spark, focusing on unified caching simulator at the cluster level. <br/>
            Developed a unified caching simulator for iterative workloads such as PageRank to optimize cache transfer policies.
        </p>
        <a href="https://github.com/khkim6040/cluster-iterative-job-caching-simulator"> <img src="static/img/github.svg" alt="Github Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> Cluster Iterative Job Caching Simulator</a> <br/>
    </article>
    <article>
        <header>
            <h1>Software Engineer Intern</h1>
            <span><img src="static/img/shiftup.svg" alt="SHIFT UP Logo" style="height: 1em; vertical-align: middle; margin-left: 4px;"> SHIFT UP</span>
            <span><address>Seoul, South Korea</address><time>Summer 2025</time></span>
        </header>
        <p>Will be updated</p>
    </article>
</section>


