<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <header>
            <h1>Attitude</h1>
            <li>Just Do It</li>
            <li>Minimalism</li>
            <img src="{{ site.baseurl }}static/img/fav_book.png" alt="fav book" style="width: 100%; max-width: 300px; margin: 10px;">
            <figcaption style="padding: 5px; border-radius: 5px; display: inline-block; width: 100%; box-sizing: border-box;">
                My favorite book: Affected the way I think and live
            </figcaption>
        </header>
    </article>
    <article>
        <header>
            <h1>Riding a Bicycle</h1>
            <span><time>24 Summer</time></span>
        </header>
        <p>
            Crossing the country with a bicycle from Incheon to Busan, 633km (left is me) 
        </p> 
        <img src="{{ site.baseurl }}static/img/cross_country.png" alt="Crossing the country" style="width: 100%; max-width: 300px; margin: 10px;">
        <br/> <br/>
        <header>
            <span><time>24 Fall</time></span>
        </header>
        <p>
            Riding a bicycle around San Francisco, San Jose, and Silicon Valley during my UCB exchange study period.
        </p>
        <img src="static/img/UCB_bike0.png" alt="UCB Bike 0" style="width: 100%; max-width: 300px; margin: 10px;">
        <img src="static/img/UCB_bike1.png" alt="UCB Bike 1" style="width: 100%; max-width: 300px; margin: 10px;">
        <img src="static/img/UCB_bike2.png" alt="UCB Bike 2" style="width: 100%; max-width: 300px; margin: 10px;">
        <video style="width: 100%; max-width: 300px; margin: 10px;" controls loading="lazy" poster="{{ site.baseurl }}static/img/UCB_bike_poster.png">
            <source src="{{ site.baseurl }}static/video/UCB_bike.mp4" type="video/mp4">
            <p>Your browser doesn't support HTML5 video. Here is a <a href="{{ site.baseurl }}static/video/UCB_bike.mp4">link to the video</a> instead.</p>
        </video>
        <br/> <br/>
        <header>
            <span><time>25 Spring</time></span>
        </header>
        <p>
            Crossing the east coast with a bicycle from Pohang to the Unification Observatory(통일전망대) in Goseong, Gangwon-do, 400 km
        </p>
        <img src="{{ site.baseurl }}static/img/eastcoast_cross_country.png" alt="East Coast Cross Country" style="width: 100%; max-width: 500px; margin: 10px;">
    </article>
    <article>
        <header>
            <h1>Music</h1>
        </header>
        <p>Big fan of ThornApple, a korean indie band. Check out my <a href="https://soundcloud.com/ho0ou">SoundCloud!</a></p>
    </article>
    <article>
        <header>
            <h1>Books</h1>
        </header>
        <p>Essay: L'Art de la Simplicite(심플하게 산다)</p>
        <p>Novel by Keigo Higashino</p>
    </article>

</section>