<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
    </script>


    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}'s Résumé">
    <meta name="author" content="{{ site.name }} @{{ site.twitter }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}static/img/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
</head>
<body>
<div class="container">
    <header class="three columns">
        <img src="{{ site.baseurl }}static/img/profile.png" class="me">
        <h1>{{ site.name }}</h1>
        <!-- <p>
            <a href="{{ site.tel_full }}">{{ site.tel }}</a>
        </p> -->
        <address>
            <a href="{{ site.google_maps }}">
                <!-- {{ site.address.street }}<br/> -->
                <!-- {{ site.address.postcode }}<br/> -->
                {{ site.address.city }}<br/>
                {{ site.address.country }}
            </a>
        </address>
        <p>
            <i class="fa fa-file"></i>
            <span>CV: </span>
            <a href="{{ site.baseurl }}static/cv/cv_en.pdf" class="cv-link"
            onclick="gtag('event', 'click', { 'event_category': 'Download', 'event_label': 'CV_EN' });">
                EN
            </a>
            <span>/</span>
            <a href="{{ site.baseurl }}static/cv/cv_ko.pdf" class="cv-link"
            onclick="gtag('event', 'click', { 'event_category': 'Download', 'event_label': 'CV_KO' });">
                KO
            </a>
            <br/>
            
            <a href="{{ site.blog }}" onclick="gtag('event', 'click', { 'event_category': 'Navigation', 'event_label': 'Blog' });">
                <i class="fa fa-home"></i> Blog
            </a>
            <br/>
            
            <a href="{{ site.github }}" onclick="gtag('event', 'click', { 'event_category': 'Navigation', 'event_label': 'GitHub' });">
                <i class="fa fa-github"></i> Github
            </a>
            <br/>
            
            <a href="{{ site.solvedac }}" onclick="gtag('event', 'click', { 'event_category': 'Navigation', 'event_label': 'Solved.ac' });">
                <i class="fa fa-code"></i> Solved.ac
            </a>
            <br/>
            
            <a href="{{ site.soundcloud }}" onclick="gtag('event', 'click', { 'event_category': 'Navigation', 'event_label': 'SoundCloud' });">
                <i class="fa fa-soundcloud"></i> Soundcloud
            </a>
            <br/>
            
            <a href="mailto:{{ site.contact }}" onclick="gtag('event', 'click', { 'event_category': 'Contact', 'event_label': 'Email' });">
                <i class="fa fa-envelope"></i> Contact
            </a>
            <br/>
        </p>
    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

    <footer class="thirteen columns">
        <p>© All rights reserved. Powered by <a href="http://jekyllrb.com/">Jekyll</a> and
            <a href="https://www.github.com/jekyllt/vitae">vitae</a> with ♥</p>
    </footer>
    </div>
</div>
</body>
</html>
